body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  font-family: 'Open Sans', sans-serif;
    color: black;
}

input, textarea, button {
    outline: none;
}

button {
    border-radius: 2px;
}

.item-box {
    box-shadow: 2px 2px black;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #777;
    padding: 15px 23px;
    margin: 12px 2px;
}

article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'AmericanaBT-ExtraBold', 'Barlow Condensed', 'Tahoma', sans-serif;
    margin: 2% 5%;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5%;
    text-align: left;
    width: 40%;
}

.right  h2{
    color: #55b7c6;
    font-size: 30px;
}

.top_header{
    text-transform: uppercase;
}